<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <style>
        body {
            text-align: center;
        }
        input {
            width: 200px;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <h1>Counter</h1>
    <h3>{{count}} times</h3>
    <form action="/add2" >
        <input type="submit" value="+2"></input>
    </form>
    <form action="/destroy_session" >
        <input type="submit" value="Reset"></input>
    </form>
    
</body>
</html>